@page
@model Crash.Server.Pages.ManageUsersModel
@{
}

<!DOCTYPE html>

<html>

<head>
	<title>Admin Page</title>
	<link rel="stylesheet" href="~/css/debug-style.css" type="text/css" />
</head>

<body>
	<h1>Allow List</h1>
	<table>
		<thead>
			<tr>
				<td>Address Pattern</td>
				<td>Add/Remove</td>
			</tr>
		</thead>

		@foreach (var user in Model.Context.ManageableUsers)
		{
			<tr>
				<td>@user.Title</td>
				<td>@user.EmailPattern</td>
			</tr>
		}

		<tr>
			<td>..</td>
			<td><button>+</button>
				<< /td>
		</tr>
	</table>
</body>

</html>