---
name: DockerDeploy
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to deploy'
        required: true
        default: 'WIP'

jobs:
  push-docker:
    strategy:
      matrix:
        tag-prefix: [crashserver/crash.server, ghcr.io/crashcloud/crash.server]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
    
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: 'arm64,arm'
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_KEY }}

      - name: Build and Push Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm/v6,linux/arm64
          tags: |
            ${{ matrix.tag-prefix }}:${{ github.event.inputs.version }}
            ${{ matrix.tag-prefix }}:latest
